<a href="https://colab.research.google.com/github/MajorCode869/sem5/blob/main/Assignment_3_CloudComputing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

1. Write a Python program to sum all the items in a list

In [3]:
list_1=np.random.randint(0,50,50)

In [4]:
sum(list_1)

1211

2.Write a Python program to get the largest number from a list.

In [5]:
max(list_1)

49


3. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples

In [ ]:
list_of_tuples = [(1,3,4),
                  (9,1,7),
                  (5,8,2)]

sorted(list_of_tuples, key=lambda x: x[-1])

4. Write a Python program to remove duplicates from a list

In [7]:

set_1=set(list_1)
list_2=list(set_1)
list_2

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 9,
 11,
 13,
 18,
 20,
 26,
 27,
 28,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 42,
 44,
 45,
 47,
 48,
 49]

5. Write a Python program to find the list of words that are longer than n from a given list of words

In [8]:
names=['lsknd','gnkjvnkwjefgnvjdfvdsn','fnjsadn','ngnefkjnjkasd','vndkjgvjdfdngdsvn']
list_3=[name for name in names if len(name)<8 ]
list_3

['lsknd', 'fnjsadn']


6. Write a Python program to get the difference between the two lists

In [10]:
list_4=[7,6,9,10]
list_5=[10,6,5,6]
print(set(list_4)-set(list_5))

{9, 7}

7.Write a Python script to add a key to a dictionary

In [12]:

d = {0:10, 1:20}
print(d)
d.update({2:30})
print(d)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

Write a Python script to concatenate following dictionaries to create a new one.

In [17]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

9. Write a Python program to remove a key from a dictionary

In [19]:
dic1.pop(1)
print(dic1)

{2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

10.Write a Python program to multiply all the items in a dictionary.

In [20]:
value=1
for i in dic1.values():
  value=value*i
print(value)

72000000